body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
.container{
    background-color: #EEEEEE;
    padding: 1em;
}
#lblExerciseArr {
    white-space: pre;
}