body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
.container{
    background-color: #EEEEEE;
    padding: 1em;
}
#lblExerciseArr {
    white-space: pre;
}
#calendar {
    height: 105px; /* 7  x 15 */
    width: 898px; /* 52 x 15 */
    display: flex;
}
#cell {
    flex: 1;
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: aqua;
    border-radius: 30%;
    float: left;
}